.tree_reply{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 400px;
    min-height: 80vh;
    margin:auto;
    flex-direction: column;
    background-color:cornsilk;
    padding:50px;
    gap:10px;
}
.hello{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:10px;
    padding:5px;
    /* margin: 0 0 0 20px; */
}
.reply{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 0px 0px 0px 20px;
}
.hello > p{
    border-radius: 3px;
    background-color:pink;
    margin:0px;
    gap:10px;
}
Button{
    font-size: 15px !important;
    gap:10px;
    
}